body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-item {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  flex: 1;
  min-width: 100px;
  width:100%;
  margin: 10px;
}
